body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 248, 252);
}

summary {
    list-style: none;
  }

summary::-webkit-details-marker {
    display: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.accordion {
    line-height: 2;
}
.accordion-title{
    font-size: 1.8rem;
    font-weight: 800;
}

.accordion-item__title {
    border-top:solid rgb(211, 223, 247) 5px;
    width: 100%;
    color: #314de7;
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
    position: relative;
}

.accordion-item__title::after {
    content: '+';
    position: absolute;
    right: 0.5em;
}

.accordion-item[open].accordion-item__title::after {
    content: '-';
}

.accordion-item__image {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1em;
}